a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #121212;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.album-cover {
    padding-right: 15px;
}

.artists {
    color: #b3b3b3;
    margin: 0;
}

.fail {
    color: red;
    margin-bottom: 10px;
}

.user:hover {
    color: #3072FE;
}

.MuiAlert-icon svg {
    color: white;
}