a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #2a2a2a;
    margin: 0;
}

.album-cover {
    padding-right: 15px;
}

.artists {
    color: #b3b3b3;
    margin: 0;
}
