* {
    color: white !important;
}

body {
    background-color: #2a2a2a;
    margin: 0;
}

.artists {
    color: #b3b3b3 !important;
    margin: 0;
}

.menu-item {
    color: #b3b3b3 !important; 
}

.menu-item:hover {
    color: white !important;
}